<% if @post.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :body %><br>
  <%= cktext_area :post, :body, :cols => 40, :ckeditor => {:toolbar => 'mini'} %>
</div>
<div class="field">
  <%= f.label :published_at %><br>
  <%= f.date_field :published_at, min: Date.today, value: '' %>
</div>
<div class="actions">
  <%= f.submit :submit %>
</div>
