<% content_for :sub_header do %>
  <i class="fa fa-wrench fa-fw"></i> Customise
<% end %>

<%= form_for @blog, url: dashboard_edit_blog_path do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :alias %>
    <%= f.text_field :alias, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :template_color %>
    <%= f.color_field :template_color %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
