<% content_for :sub_header do %>
Listing blogs
<% end %>

<%= link_to 'New Blog', dashboard_new_blog_path %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Subdomain</th>
        <th>Active</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= blog.name %></td>
        <td><%= blog.subdomain %></td>
        <td>True</td>
        <td><%= link_to 'Preview', authenticated_root_url(subdomain: blog.subdomain) %></td>
        <td><%= link_to 'Show', url_for(subdomain: blog.subdomain) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

