<% content_for :sub_header do %>
  <i class="fa fa-wrench fa-fw"></i> Blogs
<% end %>

<%= link_to 'New Blog', dashboard_new_blog_path, class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Alias</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.id %></td>
      <td><%= blog.name %></td>
      <td><%= blog.alias %></td>
      <td>True</td>
      <td><%#= link_to 'Preview', authenticated_root_url(subdomain: blog.subdomain) %></td>
  <td><%= link_to 'Show', dashboard_blog_path(alias: blog.alias) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
