<%= form_for [:dashboard, @post] do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, min: Date.today, value: '' %>
  </div>
  <div class="actions">
    <%= f.submit :submit %>
  </div>
<% end %>
