<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Myblog</title>
    <link rel="shortcut icon" href="/assets/leaf.ico">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'home-page.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="/assets/farbtastic.js"></script>

<link rel="stylesheet" href="/assetsfarbtastic.css" type="text/css" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
