<!DOCTYPE html>
<html>
  <head>
    <title><%= @blog.name %> | Myblog</title>
    <%= stylesheet_link_tag    'bootstrap-loader', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <style type="text/css">
      .blog-masthead {
        background-color: <%= @blog.template_color %>;
      }

      a {
        color: <%= @blog.template_color %>;
      }
    </style>

    <% if user_signed_in? %>
    <%= render 'shared/navbar_authenticated' %>
    <% else %>
    <%= render 'shared/navbar_unauthenticated' %>
    <% end %>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">
          <span class="tooltip-item" data-container="body" data-toggle="popover" data-placement="right" title="Blog's name" data-content="You can change it if you want."><%= @blog.name %></span>
        </h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <% display_archives(@blog.posts).each do |archive| %>
              <li><%= link_to archive, blog_archives_path(alias: @blog.alias, date: archive.downcase.split(' ').join('-')) %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })

      var block_page = $('<div class="paulund_block_page"></div>');
      $(block_page).appendTo('body');

      /*Block page overlay*/
      var pageHeight = $(document).height();
      var pageWidth = $(window).width();

      function add_styles(){
        $('.paulund_block_page').css({
          'position':'absolute',
          'top':'0',
          'left':'0',
          'background-color':'rgba(0,0,0,0.7)',
          'height':pageHeight,
          'width':pageWidth,
          'z-index':'10'
        });
      }
    </script>
  </body>
</html>
