<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="/assets/dashboard.css" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navbar_authenticated' %>

    <div class="container">
      <h1 class="page-header">Dashboard</h1>
      <h2 class="sub-header">
        <%= yield :sub_header %>
      </h2>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
